/* ------ basic profile styles ------ */

.profileMain {
  background-color: #192334;
}

.profileSection, .movieButtons {
  background-color: #13161e;
  color: #FFF;
  display: flex;
  position: relative;
}

.profileSection {
  border-bottom: 1px solid rgba(255,255,255,.25);
}

.avatar {
  border-radius: 50%;
  width: 10%;
  margin: 5% 3% 7% 11%;
}

#nameChanger {
  margin-top: 6%;
  display: flex;
}

#firstName, #lastName {
  font-weight: 500;
  font-size: 2em;
  letter-spacing: .1rem;
}

/*---- edit name styles -----*/

#pencilButton {
  border: none;
  background-color: transparent;
  color: #FFF;
  padding: 0.7em 1.5em;
  margin-top: 2.8em;
  top: 0.5em;
  align-items: center;
}

#pencilButton:hover {
  color: #A68CA6;
  font-size: 1.4em;
  margin-top: 1.6em;
  padding-left: 1em;
  padding-right: 0.8em;
  cursor: pointer;
}

#editForm {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

/* ----- movie counts styles --------*/

#movieCounts {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 4em;
  font-size: 1.7em;
}

.activeCount {
  border-bottom: 1px solid #FFF;
  border-width: 95%;
  font-weight: 500;
}

#movieCounts a {
  padding: 0 1em 0.8em 1em;
  margin-right: 0.5em;
  color: #FFF;
  position: relative;
}

#movieCounts .hover:hover {
  font-weight: 500;
}

#movieCounts .hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  font-weight: 500;
}

#movieCounts a:hover:after {
  font-weight: 500;
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ------- movie images section -------- */

.movieList {
  background-color: #181b26;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 35px 0;
}

.movieList h1 {
  color: #FFF;
  text-align: center;
}

.movieList a {
  margin: 15px;
}

.movieList img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  transition: all 0.4s;
}

.movieList img:hover {
  transform: scale(1.02);
  transition: all 0.4s;
  box-shadow: 0px 0px 15px 5px #141413;
}
